.page {
  background-color: #2a2c2f;
  font-family: Inter, Arial, sans-serif; /* Прописываем один шрифт везде и для всех */
  font-style: normal; /* аналогично с начертанием */
  color: #fff; /* и с цветом */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1280px;
  margin: 0 auto;
}
.test {
  margin: 0px;
}
