.page {
  max-width: 1280px;
  font-family: Inter; /* По брифу везде используется одинаковый шрифт, поэтому задаём его всем элементам */
  font-style: normal; /* Тоже самое и со стилем, других нет */
  color: #FFFFFF;; /* Тоже самое и с цветом */
  background-color: #2A2C2F;
  margin: 0 auto;
  padding-top: 28px;
}

@media (max-width: 320px) {
  .page {
    background-color: #2A2C2F;
    padding-top: 16px;
  }
}
