@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  display: grid;
  justify-items: center;
  margin: 0 148px;
}

@media (max-width: 1024px) {
  .lead {
    display: grid;
    justify-items: center;
    margin: 0 48px;
  }
}

@media (max-width: 768px) {
  .lead {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, auto);
    margin: 0;
  }
}
