.footer_position {
  margin: 92px 48px 24px 48px;
}

@media screen and (max-width: 768px) {
  .footer_position {
    margin: 92px 24px 24px 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer_position {
    margin: 64px auto 24px 24px;
  }
}
