.lead__title {
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .lead__title {
    font-size: calc(
      0.125 * 100vw + 0px
    ); /* Шрифт посчитан через calc() по формуле y=mx+b из статьи https://css-live.ru/articles/matematika-css-shlyuzov.html. Так как b=0 то оно не используется */
    line-height: 104%;
    margin: 0 24px 0 24px;
  }
}

@media (max-width: 320px) {
  .lead__title {
    margin: 0 16px 0 16px;
  }
}
