.place__paragraph {
  width: 100%;
  margin: 0;
}

.place__paragraph:not(:first-child) {
  margin-top: 26px;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .place__paragraph {
    width: 100%;
  }
  .place__paragraph:not(:first-child) {
    margin-top: 25px;
  }
}
