.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: white;
  text-align: right;
  margin: 0 0 0 auto;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    line-height: 100%;
    text-align: left;
    margin-left: 0;
  }
}
