.place__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px; /* identical to box height, or 122% */
  text-decoration-line: underline;
  color: #fff;
  transition: opacity .5s ease-out;
}

.place__link:hover {
  opacity: .8;
}

/* ! Проверить параметры шрифта для ссылки и для подписи URL */
