.cover__url {
  display: flex;
  flex-direction: column;
  position: relative;
  text-decoration: none;
}

.cover__url::before {
  content: '';
  background: #2A2C2F;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .3;
  transition: opacity .5s ease-out;
}

.cover__url:hover:before {
  opacity: .8;
}
