.page__places {
  margin: 90px auto 0 auto;
}

@media screen and (max-width: 1024px) {
  .page__places {
    margin: 88px auto 0 auto;
  }
}

@media screen and (max-width: 970px) {
  .page__places {
    margin: 91px 24px 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .page__places {
    margin: 64px 0 0 0;
  }
}
