.cover__title {
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  color: #fff;
  align-self: center;
  margin: 245px 0 32px 0;
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    margin: 195px 0 32px 0;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: 10vw;
    line-height: 109%;
    margin: 115px 0 32px 0;
  }
}

@media screen and (max-width: 610px) {
  .cover__title {
    margin: 33px 16px 16px 16px;
  }
}
