.page__footer {
  margin: 92px 48px 24px 48px;
}

@media screen and (max-width: 768px) {
  .page__footer {
    margin: 92px 24px 24px 24px;
  }
}

@media screen and (max-width: 660px) {
  .page__footer {
    margin: 64px auto 24px 24px;
  }
}

@media screen and (max-width: 320px) {
  .page__footer {
    margin: 49px auto 24px 16px;
  }
}
